#frame {
  background-color: black;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

#frame img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  max-height: 100%;
  max-width: 100%;
  transition: opacity 1s ease-in-out;
}

#frame img.transparent {
  opacity: 0;
}
